body {
    font-family: "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

p {
    text-align: center;
    white-space: nowrap;
}

@media screen and (max-width: 900px) {
    .section {
        padding-top: 80px;
    }
}

.sub-title {
    font-size: 40px;
    letter-spacing: 10px;
}

.section-top {
    position: relative;
}

@media screen and (max-width: 900px) {
    .section-top p {
        position: absolute;
        top: 60%;
        left: 45%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
        font-size: 1.55rem;
        white-space: nowrap;
        color: #FFFFFF;
        text-align: left;
        font-weight: 900;
    }

    .top-comment {
        position: absolute;
        display: block;
        margin-right: auto;
        margin-left: auto;
        font-size: 1.25rem;
        bottom: 5.5rem;
        width: 100%;
        font-weight: 700;
    }
}

@media screen and (min-width: 900px) {
    .section-top p {
        position: absolute;
        top: 65%;
        left: 300px;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
        font-size: 2.5rem;
        white-space: nowrap;
        color: #FFFFFF;
        text-align: left;
        font-weight: 700;
    }

    .top-comment {
        position: absolute;
        display: block;
        margin-right: auto;
        margin-left: auto;
        font-size: 1.5rem;
        bottom: 1.5rem;
        width: 100%;
        font-weight: 700;
    }
}

.section-top img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .pc_area{
        display:none;
    }
}

.section-what-bynt {
    text-align: center;
}

.section-what-bynt img {
    max-width: 100%;
}

.section-feature-bynt {
    text-align: center;
    width: 100%;
}

h3 {
    position: relative;
    padding: .3em;
    text-align: center;
    margin-top: 15px;
}

h3:after {
    content: "";
    display: block;
    height: 4px;
    text-align: center;
    background: linear-gradient(to right, #FFCC33, transparent);
}

span {
    font-size: 20px;
}

.text-color-orange {
    color: #FFCC33;
}

.text-color-red {
    color: red;
}

.usage-sub-title {
    font-size: 20px;
}

#check {
    transition: opacity 0.3s;
    color: #FFCC33;
}

#check:hover {
    opacity: 50%;
}