body {
    background-color: #eee;
}

h1 {
    padding: 10px;
}

.search-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
}
.shop-inner {
    padding-top: 60px;
}

.search-icon {
    width: 100%;
    display: inline-block;
    padding: 0.5em 1em;
    font-weight: bold;
    background: #FFF;
    border: solid 1px #6091d3;
    border-radius: 10px;
    margin: 5px;
}

.search-icon p {
    bottom: 0;
    margin: 0;
    padding: 0;
}
