.terms-content {
    width: 95%;
    font-size: 12px;
    margin-left: 3%;
}

p {
    line-height: 2em;
}

h4 {
    font-weight: bold;
}

h5 {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .pc_area{
        display:none;
    }

    .title {
        margin-top: 50px;
    }
}
